/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.full-viewport{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

.item{
    width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-image img{
    width: 100%;

}

.item-description h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}