/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.full-viewport{
    width: 100vw;
    height: 100vh;
    background-color: yellow;
}

ul.menu{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2rem;
    margin-right: 1rem;
}

ul.menu li{
    display: inline;
}

span.menu-item{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 1.5rem;
}
.item{
    width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-image img{
    width: 100%;

}

.item-description h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}