/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base classes */

body{
    font-family: 'Rubik Mono One', sans-serif;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.fixed{
    position: fixed;
}

.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
}

.bg-yellow{
    background-color: yellow;
}

.color-yellow{
    color: yellow;
}

.color-green{
    color: green;
}

.full-viewport{
    width: 100vw;
    height: 100vh;
}

/* menu of navigation */
ul.menu{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    margin-top: 2rem;
    margin-right: 1rem;
}

ul.menu li{
    display: inline;
}

span.menu-item{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 50%;
    margin-left: 1.5rem;
}

/* hover options */

span.menu-item:hover{
    
}

/* photo and description of the product */
.item{
    width: 700px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-image img{
    width: 100%;

}

.item-description h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 900;
}